// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Common
@import 'includes/variables';
@import 'includes/mixins';
@import 'includes/colors';
@import 'includes/global';
@import 'includes/forms';
@import 'includes/text';
@import 'includes/buttons';
@import 'includes/nav';
@import 'includes/switch';

// Layout
@import 'layout/main';

// Responsive
@import 'layout/responsive';

.text-line {
  border-bottom: solid 2px gainsboro;
  width: 110px;
}

.border-service {
  border: 3px solid #E7E7E7;

  &-active {
    border-color: $primary;
  }
}

.shadow-xl {
  box-shadow: 4px 7px 73px #00000024;
}

.h-console {
  height: 448px;
}

.container-large {
  max-width: 1440px;
}

.container-medium {
  max-width: 1047px;
}

.service-chart {
  height: 100px !important;
  position: absolute;
  bottom: 0;
}