select {
  color: #a0aec0;

  &.selected {
    color: #000;
  }

  &:valid {
    color: #000;
  }

  &.form-control {
    @apply appearance-none;

    &:first-child {
      before: 'baba';
    }
  }
}

.select-list {
  @apply relative;

  &:hover {
    .far {
      @apply opacity-100;
    }
  }

  .far {
    @apply absolute right-0 top-0 my-5 mx-6 opacity-50;
  }
}

.form-control {
  @apply w-full py-3 px-6 rounded-xl;
  border: 3px solid $gray-light;

  &.form-control-material {
    position: relative;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ddd;
    padding-left: 0;

    &:after {
      content: '';
      bottom: 0;
      height: 2px;
    }

    &::-webkit-input-placeholder {
      font-size: 17px;
      color: #bbb;
      font-weight: 400;
    }
  }

  &:focus {
    @apply outline-none;
    border-color: $primary;
  }

  &::-webkit-input-placeholder {
    font-size: 17px;
    color: #D9D9D9;
    font-weight: 600;
  }

  &::-moz-placeholder {
    font-size: 17px;
    color: #D9D9D9;
    font-weight: 600;
  }

  &:-ms-input-placeholder {
    font-size: 17px;
    color: #D9D9D9;
    font-weight: 600;
  }
}