html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    line-height: 1.7;
}

.opacity-64 {
    opacity: .64;
}

.bg-overlay {
    position: relative;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}

.bg-gray {
    background-color: $bg-gray;
}

.bg-gray-light{
    background-color: #F0F0F0;
}

.bg-dark-gray{
    background-color: #4D4F5C;
}

.bg-green-light{
    background-color: #5FD99B;
}

.bg-yellow-dark{
    background-color: #F49507;
}

.bg-blue-color{
    background-color: $blue-color;
}

.bg-blue-button{
    background-color:  $blue-color;
}

.bg-dark-grey{
    background-color:  $dark-grey;
}

.bg-dark-blue{
    background-color:  $dark-blue;
}

.bg-gradient-blue{
    background: url('../images/backgrounds/blue-gradient.png') center no-repeat;
}

.text-blue-1200{
    color: $dark-blue;
}

.text-blue-color{
    color: $blue-color;
}

.text-dark-grey{
    color: $dark-grey;
}

.text-dark-gray{
    color: #4D4F5C;
}

.text-gray-50{
    color: #E5E5E5;
}

.text-gray-70{
    color: #D3D3D3;
}

.text-purple-1200{
    color:#5454D9;
}