select {
  color: #a0aec0;

  &.selected {
    color: #000;
  }

  &:valid {
    color: #000;
  }
}

.form-control {
  @apply w-full py-3 px-6 rounded-xl;
  border: 3px solid $gray-light;

  &:focus {
    @apply outline-none;
    border-color: $primary;
  }

  &::-webkit-input-placeholder {
    font-size: 17px;
    color: #D9D9D9;
    font-weight: 600;
  }

  &::-moz-placeholder {
    font-size: 17px;
    color: #D9D9D9;
    font-weight: 600;
  }

  &:-ms-input-placeholder {
    font-size: 17px;
    color: #D9D9D9;
    font-weight: 600;
  }
}